<div class="anchor-tag">
    I'm Software Engineer 2 at Microsoft Search, Assistant and Intelligence (MSAI), where I work on defining, designing, and delivering a powerful enterprise search service for millions of M365 users. 
    I'm an incoming Masters of Science in Computer Science student at <a href="https://www.cs.utexas.edu/">The University of Texas at Austin</a>.
    Connect with me on <a href="https://www.linkedin.com/in/quepayal/">LinkedIn</a> to explore potential opportunities for collaboration!
</div>
